.header {
    overflow: hidden;
    background-image: url("../../images/header-bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 200px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        margin-bottom: 100px;
    }

    &__inner {
        flex-grow: 1;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #d8e1dd;
        margin-bottom: 35px;
        padding-bottom: 25px;
    }
    &__navigation-link {
        display: block;
        margin: 0 5px 0 5px;
        font-family: "DS_Stamper";
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.2s ease-in;
    }
    &__navigation-link:hover {
        color: #32ab77;
    }
    &__text {
        position: relative;
        line-height: 26px;
        padding-left: 70px;
    }
    &__text::before {
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        box-shadow: 0px 15px 60px rgba(48, 171, 119, 0.5);
        background-image: url("../images/icon-text.svg");
        background-repeat: no-repeat;
    }
    &__menu-btn {
        display: none;
    }
    &__wrapper-bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__box-text {
        max-width: 740px;
    }
    &__title {
        position: relative;
        font-family: "DS_Stamper";
        font-weight: 400;
        font-size: 50px;
        line-height: 62px;
        color: #103d2a;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__title::before {
        content: " ";
        position: absolute;
        top: 37px;
        left: -10px;
        width: 100%;
        height: 20px;
        background-image: url("../../images/title-line.svg");
        z-index: -1;
    }
    &__bottom-text {
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 30px;
    }
    &__button {
        margin-bottom: 80px;
    }
    &__text-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 540px;
        margin-left: -5px;
    }
    &__text-item {
        position: relative;
        padding-left: 50px;
        width: calc(50% - 10px);
        margin: 0 5px 40px 5px;
    }
    &__text-item--one::after {
        content: " ";
        position: absolute;
        top: 2px;
        left: 0;
        width: 24px;
        height: 24px;
        background-image: url("../images/header-item-icon-1.svg");
        background-repeat: no-repeat;
    }
    &__text-item--two::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 32px;
        background-image: url("../images/header-item-icon-2.svg");
        background-repeat: no-repeat;
    }
    &__text-item--three::after {
        content: " ";
        position: absolute;
        top: 1px;
        left: 0;
        width: 24px;
        height: 24px;
        background-image: url("../images/header-item-icon-3.svg");
        background-repeat: no-repeat;
    }
    &__text-item--four::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 19px;
        height: 27px;
        background-image: url("../images/header-item-icon-4.svg");
        background-repeat: no-repeat;
    }
    &__box-img {
        display: flex;
        position: relative;
    }
    &__inner-video {
        position: absolute;
        top: 200px;
        left: -520px;
        z-index: 2;
    }
    &__video-text {
        width: 160px;
        line-height: 26px;
        color: #96aba2;
    }
    &__image {
        position: absolute;
        top: -30px;
        right: -233px;
        width: 770px;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        padding-bottom: 0;
        height: 1500px;
        &__box-img {
            flex-direction: column;
            align-items: center;
            margin: 0 auto;
        }
        &__inner-video {
            display: flex;
            flex-direction: row-reverse;
            position: static;
            top: 0;
            left: 0;
            z-index: 0;
        }
        &__video-text {
            margin: auto;
            margin-left: 20px;
        }
        &__image {
            position: static;
            top: 0;
            right: 0;
            z-index: 0;
            width: 100%;
            margin: 0 auto;
        }
    }
}
@media screen and (max-width: 900px) {
    .header {
        &__inner {
            flex-grow: 0;
        }
        &__navigation {
            display: none;
        }
        &__text {
            display: none;
        }
        &__menu-btn {
            display: flex;
            width: 200px;
        }
        &__menu-btn p {
            padding-top: 15px;
            padding-left: 10px;
        }
        &__inner-phone {
            width: 200px;
        }
    }
}
@media screen and (max-width: 770px) {
    .header {
        height: 1200px;
        &__wrapper {
            padding-top: 10px;
            margin-bottom: 50px;
        }
        &__title {
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 10px;
        }
        &__title::before {
            display: none;
        }
        &__bottom-text {
            font-size: 18px;
            line-height: 32px;
            margin-bottom: 25px;
        }
        &__button {
            margin-bottom: 50px;
        }
        &__text-item {
            margin-bottom: 30px;
        }
    }
}
@media screen and (max-width: 660px) {
    .header {
        &__menu-btn {
            width: auto;
        }
        &__menu-btn p {
            display: none;
            padding: 0;
        }
        &__inner-phone {
            width: auto;
        }
    }
}
@media screen and (max-width: 430px) {
    .header {
        height: 1000px;
        &__wrapper {
            margin-bottom: 30px;
        }
        &__title {
            margin-bottom: 5px;
            font-size: 21px;
            line-height: 32px;
        }
        &__bottom-text {
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 20px;
        }
        &__button {
            margin-bottom: 30px;
        }
        &__text-item {
            width: 100%;
        }
    }
}
