.main {
    &__products {
        padding-top: 220px;
        padding-bottom: 100px;
    }
    &__materials {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    &__stage {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media screen and (max-width: 1350px) {
    .main {
        &__stage {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}
@media screen and (max-width: 660px) {
    .main {
        &__stage {
            padding-top: 10px;
        }
    }
}