.main {
    &__products {
        padding-top: 220px;
        padding-bottom: 100px;
    }
    &__materials {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    &__stage {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    &__photos {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    &__companies {
        padding-top: 150px;
        padding-bottom: 150px;
    }
    &__request {
        padding-top: 150px;
        padding-bottom: 200px;
    }
    &__facts {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &__services {
        padding-top: 180px;
        padding-bottom: 120px;
    }
    &__benefits {
        padding-top: 120px;
        padding-bottom: 140px;
    }
    &__questions {
        padding-top: 100px;
        padding-bottom: 40px;
    }
    &__testimonials {
        padding-top: 100px;
        padding-bottom: 120px;
    }
}

@media screen and (max-width: 1350px) {
    .main {
        &__stage {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .main {
        &__request {
            padding-bottom: 150px;
        }
        &__facts {
            padding-top: 20px;
        }
    }
}
@media screen and (max-width: 1020px) {
    .main {
        &__facts {
            padding-bottom: 40px;
        }
        &__services {
            padding-top: 140px;
            padding-bottom: 40px;
        }
        &__benefits {
            padding-top: 100px;
        }
    }
}
@media screen and (max-width: 660px) {
    .main {
        &__stage {
            padding-top: 10px;
        }
        &__photos {
            padding-bottom: 50px;
        }
        &__companies {
            padding-top: 100px;
            padding-bottom: 30px;
        }
        &__request {
            padding-top: 100px;
            padding-bottom: 120px;
        }
        &__benefits {
            padding-bottom: 120px;
        }
        &__questions {
            padding-top: 10px;
            padding-bottom: 0;
        }
        &__testimonials {
            padding-top: 120px;
        }
    }
}

@media screen and (max-width: 520px) {
    .main {
        &__facts {
            padding-bottom: 20px;
        }
        &__services {
            padding-top: 120px;
        }
    }
}
