.testimonials {
    position: relative;
    z-index: 1;
    background-color: #eff7f3;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -120px;
        width: 100%;
        height: 278px;
        background-image: url(../images/split-blocks-2.svg);
        z-index: 1;
    }
    &__icon-animation {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
    }

    &__icon-animation--one {
        top: 22%;
        left: 150px;
        width: 176px;
        height: 250px;
        background-image: url(../images/icon-animation-11.svg);
        animation: cloud-animation-right 8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    }

    &__icon-animation--two {
        bottom: 111px;
        right: 114px;
        width: 228px;
        height: 214px;
        background-image: url(../images/icon-animation-12.svg);
        animation: cloud-animation-left 8s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
    }

    &__wrapper {
        position: relative;
    }
    &__title {
        position: relative;
        z-index: 1;
        font-family: "DS_Stamper";
        font-size: 50px;
        line-height: 62px;
        text-align: center;
        text-transform: uppercase;
        max-width: 950px;
        margin: 0 auto;
        margin-bottom: 65px;
    }
    &__title::before {
        content: " ";
        position: absolute;
        top: 37px;
        left: 250px;
        width: 314px;
        height: 20px;
        background-image: url(../images/line-title-2.svg);
        background-repeat: no-repeat;
        z-index: -1;
    }
    &__title::after {
        content: " ";
        position: absolute;
        bottom: 2px;
        left: 109px;
        width: 475px;
        height: 20px;
        background-image: url(../images/line-title-3.svg);
        background-repeat: no-repeat;
        z-index: -1;
    }
    &__slider {
        max-width: 770px;
        margin: 0 auto;
    }
    &__img-box {
        max-width: 99px;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    &__slider-text {
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        max-width: 770px;
        margin-bottom: 20px;
    }

    &__slider-author {
        font-size: 18px;
        line-height: 32px;
        text-align: center;
        color: #96aba2;
        border-bottom: 1px solid #96aba2;
        width: 100%;
        padding-bottom: 40px;
        margin-bottom: 30px;
    }
    &__portfolio-title {
        font-family: "DS_Stamper";
        font-size: 24px;
        line-height: 32px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__portfolio-list {
        display: flex;
        flex-wrap: wrap;
        max-width: 512px;
        margin: 0 auto;
    }

    &__portfolio-item {
        margin: 0 15px 10px;
        width: calc(25% - 30px);
    }

    &__portfolio-link {
        display: block;
        width: 99px;
        height: 99px;
        border-radius: 50%;
        overflow: hidden;
    }
    &__portfolio-link--more {
        position: relative;
        background: linear-gradient(129.81deg, #f4a261 27.27%, #e9c46a 115.15%);
    }
    &__link-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: "DS_Stamper";
        font-size: 24px;
        line-height: 32px;
        text-transform: uppercase;
        color: #ffffff;
    }
    &__slider-box {
        position: absolute;
        top: 45%;
        width: 100%;
    }
    &__slider-number {
        display: none;
    }
    &__slider-btn {
        position: absolute;
        cursor: pointer;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        opacity: 0.8;
    }
    &__slider-btn:hover {
        box-shadow: 0px 0px 17px 1px rgba(48, 171, 119, 0.6);
        opacity: 1;
    }
    &__slider-btnprev {
        top: 0;
        left: 0;
    }
    &__slider-btnnext {
        top: 0;
        right: 0;
    }
}

@media screen and (max-width: 1600px) {
    .testimonials {
        &__icon-animation--one {
            left: 80px;
            width: 123px;
            height: 175px;
        }

        &__icon-animation--two {
            bottom: 164px;
            right: 80px;
            width: 160px;
            height: 150px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .testimonials {
        &__title {
            font-size: 40px;
            line-height: 48px;
            margin-bottom: 35px;
        }
        &__title::before,
        &__title::after {
            display: none;
        }
        &__icon-animation {
            display: none;
        }
    }
}
@media screen and (max-width: 860px) {
    .testimonials {
        &__slider-box {
            position: relative;
            display: flex;
            justify-content: space-between;
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 20px;
            z-index: 2;
        }
        &__slider-number {
            display: block;
            align-self: center;
            font-family: "DS_Stamper";
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            text-transform: uppercase;
        }
        &__slider-number--active {
            position: relative;
            font-family: "DS_Stamper";
            font-size: 24px;
            line-height: 30px;
            margin-right: -5px;
            text-transform: uppercase;
            color: #32ab77;
        }
        &__slider-btn {
            position: static;
        }
    }
}

@media screen and (max-width: 660px) {
    .testimonials {
        &::before {
            top: -136px;
            height: 220px;
        }
        &__slider-text {
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 15px;
        }
        &__slider-author {
            border-top: 1px solid #96aba2;
            border-bottom: none;
            padding-bottom: 0;
            padding-top: 20px;
            margin-bottom: 30px;
        }
        &__img-box {
            display: none;
        }
    }
}
@media screen and (max-width: 520px) {
    .testimonials {
        &__title {
            font-size: 21px;
            line-height: 32px;
            margin-bottom: 20px;
        }
        &__slider-text {
            font-size: 14px;
        }
        &__portfolio-item {
            width: calc(50% - 30px);
        }
        &__portfolio-list {
            max-width: 260px;
        }
    }
}
